---
layout: default
---

<article class="post">
  <div class="header">
    <h1 class="post-title"><span style="background-color: #13315C">{{ page.title }}</span></h1>
    <h5 class="post-description"><span style="background-color: #13315C">{{ page.tldr }}</span></h5>

    {%- if page.image -%}
      <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
    {%- else -%}
      {%- assign defaultPostImage = "/images/white-lab.jpeg" -%}
      <img src="{{- defaultPostImage | relative_url -}}" alt="" class="featured-image-post">
    {%- endif -%}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
